
.app {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

a {
	text-decoration: none;
}

.white {
	color: white;
}


.fcpurple {
	  color: #8A63D2;
}


.app-title {
  padding-left: 1%;
  font-weight: bold;
  cursor: pointer;
	font-size: 20px;
	font-weight: 300;
}

.github {
	  padding: 1%;
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 1% 0%;
	
}

button {
	font-weight: lighter;
}

.app-connect-button {
  margin-right: 1%;
  font-size: 15px;
  background: #8A63D2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
	max-width: 180px;
	min-width: 140px;
	max-height: 50px;
}

.header {
  font-size: 50px;
	text-align: center;
}

img {
	border-radius: 5px;
	max-width: 95%;
}

.parent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-width: 100%;
	justify-content: center;
}

.shell {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-width: 100%;
	justify-content: center;
	align-items: center;
}

.shell-text {
	min-width: 50%;
}



.logo-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	min-width: 95%;
	align-items: center;
}
.logo-wrap .i {
	max-width: 20px;
	margin: 5px;
}



.users {
	max-height: 100%;
	min-width: 20%;
	word-wrap:break-word;
  max-width: 20%;
  border: none;
  border-radius: 20px;
	text-wrap: wrap;
  margin: 1%;
  padding: 1%;
  text-align: center;
	align-items: center;
  flex-direction: column;
	text-wrap: wrap;
	background-color: rgb(24,21,30);
	
}

	.smaller {
		font-size: 30px;
		font-weight: 250;
	}

.weight {
	font-weight: 900;
}

.thin {
	font-weight: 300;
}

.noty {
	margin: 1% 0%;;
  padding: 1% 0%;
	border: none;
  border-radius: 20px;
  width: 90%;
	align-self: center;
}

.fid {
	border: 1px solid #8A63D2;
	border-radius: 4%;
	padding: 2px 5px;
	margin-left: 1.5%;
}

.pad {
	padding: 3% 0%;
	width: 100%;
}

	.users>img {
		margin-top: 5%;
	}

@media (max-width: 1130px) {

    .header {
        font-size: 25px;
        /* font-weight: bold; */
    }

	.github {
	  padding: 1%;
		margin: 3% 1%;
}

	.pad {
	padding: 3% 0%;
	width: 100%;
	text-align: center;
}

	.users>img {
		margin-top: 5%;
	}

	.noty {
	/* margin: 2% 0%; */
  padding: 0% 0%;
		align-self: center;
}

	.smaller {
		font-size: 15px;
	}
	
	.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
	max-width: 100%;
}
	.parent {
		flex-direction: column;
		max-width: 100%;
		font-size: 13px;
		align-items: center;
	}
	.users {
		min-width: 90%;
		/* height: 100%; */
	}

	.buttongroup {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.app-connect-button {
  margin: 1%;
	max-width: 50%;
	min-width: 140px;
}

	form {
    display: flex;
    justify-content: center;
		flex-direction: column;
    align-items: center;
		margin: 1%;
}
form input[type="text"] {
	width: 90%;
	min-height: 30px;
}



	button {
		width: 100%;
		font-weight: 500;
	}

} 
	
	

}




form {
    display: flex;
    justify-content: center;
	flex-direction: row;
    align-items: center;
	/* padding: 5%; */
	margin: 1%;
	width: 100%;
}

form input[type="text"] {
    /* flex-basis: 50%; */
    padding: 10px;
	min-width: 50%;
	margin: 3%;
    margin-right: 10px;  /* optional: adds some space between the input and the button */
    border-radius: 4px;
}



button:hover {
    background-color: #6134b4;
}






